<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yehuditg.womenpower">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.NEW_OUTGOING_CALL" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.ANSWER_PHONE_CALLS" />
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE"  tools:ignore="ProtectedPermissions" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FirstApp">
<!--        android:theme="@style/Theme.WomenPower">-->
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <activity
            android:parentActivityName=".TimeActivity"
            android:name=".VideoActivity"
            android:exported="false"
            />
        <activity
            android:parentActivityName=".MainActivity"
            android:name=".CircleActivity"
            android:exported="false"

            />

        <activity
            android:parentActivityName=".KindActivity"
            android:name=".TimeActivity"
            android:exported="false" />
        <activity
            android:parentActivityName=".MainActivity"
            android:name=".KindActivity"
            android:exported="false" />
        <activity
            android:parentActivityName=".MainActivity"
            android:name=".TodayActivity"
            android:exported="false" />
        <activity
            android:parentActivityName=".MainActivity"
            android:name=".DaysActivity"
            android:exported="false" />
        <activity
            android:parentActivityName=".MainActivity"
            android:name=".GalleryActivity"
            android:exported="false" />
        <activity
            android:parentActivityName=".MainActivity"
            android:name=".DbActivity"
            android:exported="false" />
        <activity
            android:parentActivityName=".MainActivity"
            android:name=".SettingsActivity"
            android:exported="false"
            />
        <activity
            android:parentActivityName=".OpenActivity"
            android:name=".MainActivity"
            android:exported="false"
            />


        <activity
            android:name=".OpenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--        for notification-->
        <receiver android:name=".BroadcastAlarm" />
        <!--        for BlockCallReceive-->
        <!--        <receiver android:name=".BlockCallReceiver"  />-->
        <receiver android:name=".BlockCallReceiver"
            android:exported="false">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.PHONE_STATE" />-->
            <!--            </intent-filter>-->
        </receiver>
    </application>


</manifest>